
<div class="row">
  <div class="banner">
    <div class="container">
      <h1>Cocktails List</h1>
    </div>
  </div>
</div>


  

<div class="row">
    <%@cocktails.each do |cocktail| %>
    <div class="col-4 ">
      <div class="card border-light mb-3" style="width: 18rem;">
    
        
      
           <%= image_tag cocktail.image_url, alt: "Card image", class: "card-img-top image-card-size"%>
        

     
        <div class="card-body">
          <h5 class="card-title text-center"><%= cocktail.name %></h5>
          <div class = "d-flex justify-content-between">
          <div>
          <%= link_to cocktail_path(cocktail), class:"text-success" do%>
          See details <i class="far fa-eye text-success"></i>
          <%end %> 
               
          </div>
          <div>
          <%= link_to "Edit",edit_cocktail_path(cocktail), class:"text-warning"%> <i class="fas fa-pen text-warning"></i>
          </div>
          </div>
          
        </div>
      </div>
      </div>
    <% end  %>
  
</div>
